<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento :: head('Todos funcionários')}"></head>
<body>
	<div class="container2">
		<header th:replace="~{fragmento :: header('Todos os funcionários')}"></header>

		<div class="container">
			<table class="table" style="width: 90%; margin-left: 20px;">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nome</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${usuarios}">
						<th scope="row" th:text="${funcionario.id}">1</th>
						<td th:text="${funcionario.nome}">Otto</td>
						<td><a class="btn btn-outline-info" th:href="@{/funcionarios/{funcId}(funcId = ${funcionario.id})}">Detalhes</a></td>
						<td><a th:href="@{/excluirusuario(id=${funcionario.id})}"
							class="btn btn-outline-danger">Delete</a></td>

					</tr>

				</tbody>
			</table>

			<a th:href="@{novo}" style="margin-left: 20px;"
				class="btn btn-primary">Adicionar novo usuario</a> <a
				th:href="@{/menu}" class="btn btn-primary">Menu</a>
		</div>
	</div>
</body>
</html>