<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento :: head('Produtos')}"></head>
<body>
<header th:replace="~{fragmento :: header('Cadastro de produtos')}"></header>
<div class="container">
    <div class="row">

    </div>
</div>

<div class="container" style="padding-top: 40px">
    <div class="row">
        <form th:object="${produtoEstoqueDto}" action="/estoque/novo" method="post">
            <div class="row">
                <div class="col">
                    <label class="form-label">Código</label>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{codigo}">
                    <div class="invalid-feedback" th:errors="*{codigo}"></div>
                </div>
                <div class="col">
                    <label class="form-label">Nome do Produto</label>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{produtoNome}">
                    <div class="invalid-feedback" th:errors="*{produtoNome}"></div>
                </div>
            </div>

            <div class="input">
                <label class="form-label">Quantidade</label>
                <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{qtd}">
                <div class="invalid-feedback" th:errors="*{qtd}"></div>
                <div></div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label">Custo</label>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{preco}">
                    <div class="invalid-feedback" th:errors="*{preco}"></div>
                </div>
            </div>


            <div style="padding-top: 20px">
                <button class="btn btn-primary" type="submit">Cadastrar</button>
                <a th:href="@{/estoque/todos}"  class="btn btn-primary">Voltar</a>
            </div>

        </form>
    </div>
</div>
</body>
</html>