

<head th:fragment="head(titulo)">
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title th:text ="${titulo}">Main</title>
</head>


<header Th:fragment="header(titulo)">
	<div class="container mt-3">
		<ul class="nav nav-tabs">
			<li class=nav-item>
				<a aria-current="page" class="nav-link active" href="/menu">Menu</a>
			</li>
			<li class="nav-item">
				<a aria-current="page" class="nav-link active" href="/produtos/todos">Produtos</a>
			</li>
			<li class="nav-item">
				<a aria-current="page" class="nav-link active" href="/funcionarios/todos">Funcionarios</a>
			</li>				
		</ul>
	</div>
	<div class="container mt-3">
		<div class="row">
			<div class="col-12">
				<h1>Ichiraku</h1>
				<h4 th:text="${titulo}"></h4>
			</div>
		</div>
	</div>
</header>