<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento :: head('Menu')}"></head>
<body>
	<div class="container2">
	<header th:replace="~{fragmento :: header('Menu')}"></header>
	<main>

		<div class="container mt-4">
			<div class="list-group">
				<button type="button" class="list-group-item list-group-item-action"
					th:onclick="'window.location.href=\'/estoque/todos\''">Estoque</button>
				<button type="button" class="list-group-item list-group-item-action"
					th:onclick="'window.location.href=\'/funcionarios/todos\''">Funcionários</button>
				<button type="button" class="list-group-item list-group-item-action"
					th:onclick="'window.location.href=\'/produtos/todos\''">Produtos</button>
			</div>
		</div>

	</main>
</div>
</body>
</html>