<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento :: head('Menu')}"></head>
<body>
<header th:replace="~{fragmento :: header('Menu')}"></header>
	
	<div>
		<div class="container">
			

			<a th:href="@{produtos/todos}" style="margin-left: 5px;"
				class="btn btn-primary">Produtos</a> <a
				th:href="@{funcionarios/todos}" style="margin-left: 55px;"
				class="btn btn-primary">Funcionarios</a>
		</div>
	</div>
</body>
</html>