<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmento :: head('Lista de Produtos')}"></head>
<body>
<header th:replace="~{fragmento :: header('Lista de produtos')}"></header>
<div class="container">  


<table class="table" style="width: 90%; margin-left: 20px;">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome do produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Custo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${produtos}">
        <th scope="row" th:text="${item.Codigo}">1</th>
        <td th:text="${item.produtoNome}">Otto</td>
        <td th:text="${item.qtd}">@mdo</td>
        <td th:text="${item.preco}">@mdo</td>
        <td ><a href="#">Detalhes</a></td>
        <td ><a href="#">Editar</a></td>
        <td ><a th:href="@{/excluirproduto(codigo=${item.Codigo})}" class="btn btn-danger ml-2">Delete</a></td>
    </tr>

    </tbody>
</table>

<a th:href="@{novo}" style="margin-left: 20px;" class="btn btn-primary">Novo produto</a>
<a th:href="@{/menu}" style="margin-left: 20px;" class="btn btn-primary">Menu</a>
</div>

</body>
</html>